*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	
}
.team-section{
		overflow: hidden;
		text-align: center;
		background: #ecf0f1;
		padding: 60px;
		
}

.team-section h1{
	text-transform: uppercase;
	margin-bottom: 60px;
	color: #000000;
	font-size:40px;
}	

.border{
	display: block;
	margin: auto;
	width: 160px;
	height:3px
	background:#95a5a6;
	margin-bottom:40px;
}

.ps{
	margin-bottom: 40px;
}
.ps a{
	display: inline-block;
	margin:0 30px;
	width: 160px;
	height:160px;
	overflow: hidden;
	border-radius: 
}

